@import url(../css/bootstrap-4-utilities.min.css);
@import url(../assets/fonts/fonts.css);
h4 {
  margin-bottom: 0px; }

@media (min-width: 375px) and (max-width: 768px) {
  .h1 {
    margin-bottom: 0px; } }

.twothirds__double-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 100px; }

.twothirds__double-grid--sm {
  display: grid;
  grid-template-columns: repeat(2, 40% 60%);
  grid-gap: 100px; }

.twothirds__triple-grid {
  display: grid;
  grid-template-columns: repeat(3, 20% 60% 20%);
  grid-gap: 50px; }

.m-t-lg {
  margin-top: 100px; }

.m-t-md {
  margin-top: 50px; }

.m-t-sm {
  margin-top: 30px; }

.m-b-lg {
  margin-bottom: 100px; }

.m-b-md {
  margin-bottom: 50px; }

.m-b-sm {
  margin-bottom: 30px; }

.full-width {
  width: 100%; }

.text-uppercase {
  text-transform: uppercase; }

.text-center {
  text-align: center; }

body {
  font-family: 'Futura LT Com';
  line-height: 100%; }

.twothirds__h1 {
  font-size: 50px;
  font-weight: 500;
  color: #252E43;
  line-height: 150%;
  letter-spacing: 1px;
  margin-bottom: 0; }

.twothirds__h1--white {
  font-size: 90px;
  font-weight: 500;
  color: white;
  line-height: 150%;
  letter-spacing: 1px;
  margin-bottom: 0; }

.twothirds__h2 {
  font-size: 16px;
  font-weight: 400;
  color: #252E43;
  line-height: 150%;
  letter-spacing: 1px;
  margin-bottom: 0; }

.twothirds__h4 {
  font-size: 14px;
  font-weight: 400;
  color: #252E43;
  line-height: 150%;
  letter-spacing: 1px;
  margin-bottom: 0; }

.twothirds__h4-footer {
  font-size: 16px;
  font-weight: 400;
  color: #252e43;
  line-height: 150%;
  letter-spacing: 0px;
  margin-bottom: 0; }

.twothirds__h5 {
  font-size: 18px;
  font-weight: 400;
  color: #5B6872;
  line-height: 150%; }

.twothirds__h5-white {
  font-size: 18px;
  font-weight: 400;
  color: white;
  line-height: 150%; }

.twothirds__h3-chronicle-roman {
  font-family: 'ChronicleDisplay-Roman';
  font-size: 30px;
  font-weight: 400;
  color: #000000;
  line-height: 150%;
  letter-spacing: 0;
  line-height: 40px; }

.twothirds__h3-chronicle-roman--white {
  font-family: 'ChronicleDisplay-Roman';
  font-size: 30px;
  font-weight: 400;
  color: #ffffff;
  line-height: 150%; }

.twothirds__h3-chronicle-roman--white-sm {
  font-family: 'ChronicleDisplay-Roman';
  font-size: 21px;
  font-weight: 400;
  color: #ffffff;
  line-height: 150%; }

.twothirds__h4-chronicle-roman--white {
  font-family: 'ChronicleDisplay-Roman';
  font-size: 18px;
  font-weight: 400;
  color: #ffffff;
  line-height: 150%; }

.twothirds__paragraph {
  font-size: 18px;
  font-weight: 400;
  color: #5B6872;
  line-height: 150%;
  letter-spacing: 1px; }

.twothirds__span {
  font-size: 14px;
  font-weight: 400;
  color: #5B6872;
  line-height: 150%;
  letter-spacing: 1px;
  margin-bottom: 0; }

.twothirds__paragraph--white {
  font-size: 14px;
  font-weight: 400;
  color: white;
  line-height: 150%;
  letter-spacing: 1px;
  margin-bottom: 0; }

@media (min-width: 992px) and (max-width: 1200px) {
  .twothirds__h1 {
    font-size: 30px;
    font-weight: 500;
    color: #252E43;
    line-height: 150%;
    letter-spacing: 1px;
    margin-bottom: 20px; }
  .twothirds__paragraph {
    font-size: 16px;
    font-weight: 400;
    color: #5B6872;
    line-height: 150%;
    letter-spacing: 1px; } }

@media (min-width: 375px) and (max-width: 768px) {
  .twothirds__h1 {
    font-size: 18px;
    font-weight: 500;
    color: #252E43;
    line-height: 150%;
    letter-spacing: 1px; }
  .twothirds__paragraph {
    font-size: 14px;
    font-weight: 400;
    color: #5B6872;
    line-height: 150%;
    letter-spacing: 1px;
    margin-bottom: 0px; }
  .twothirds__h1--white {
    font-size: 46px;
    font-weight: 500;
    color: white;
    line-height: 150%;
    letter-spacing: 1px;
    margin-bottom: 0; }
  .twothirds__paragraph--white {
    font-size: 14px;
    font-weight: 400;
    color: black;
    line-height: 150%;
    letter-spacing: 1px;
    margin-bottom: 0; }
  .twothirds__h3-chronicle-roman {
    font-family: 'ChronicleDisplay-Roman';
    font-size: 20px;
    font-weight: 400;
    color: #000000;
    line-height: 150%;
    letter-spacing: 0;
    line-height: 25px;
    margin-bottom: 0px; }
  .twothirds__h3-chronicle-roman--white {
    font-family: 'ChronicleDisplay-Roman';
    font-size: 15px;
    font-weight: 400;
    color: #ffffff;
    line-height: 150%; } }

.container {
  max-width: 1280px;
  width: 100%;
  margin-left: auto;
  margin-right: auto; }

.header {
  position: relative;
  height: 955px;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  .header.slide {
    justify-content: space-between; }
  .header__box-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-top: 30px; }
  .header__img-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    cursor: pointer; }
  .header__items {
    display: flex;
    justify-content: space-between;
    cursor: pointer; }
  .header__link {
    margin-right: 45px; }
    .header__link:last-child {
      margin-right: 0; }
  .header__item {
    transition: color .2s ease-in; }
  .header__actions-list {
    display: flex; }
  .header__actions-icon {
    color: white;
    margin-right: 30px;
    cursor: pointer;
    transition: 0.4s; }
  .header__actions-item:last-child .header__actions-icon {
    margin-right: 0; }
  .header__box-eco-materials-content {
    display: flex;
    flex-direction: column;
    padding-bottom: 100px; }
  .header__box-eco-materials {
    display: flex;
    justify-content: center;
    padding: 0 300px; }
  .header__box-eco-material {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 40px;
    justify-content: space-between; }
  .header__icon-white {
    fill: #fff;
    font-size: 60px;
    justify-content: center; }
    .header__icon-white > g > g {
      Stroke: #fff; }
  .header__box-img {
    justify-content: center; }
  .header__box-line::after {
    content: '';
    position: absolute;
    border-left: 1px solid #d8d8d8;
    height: 120px;
    width: 1px; }

.slide__content {
  margin-top: 100px;
  background-size: cover;
  padding-top: 435px;
  padding-bottom: 90px; }

.slide__content-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0;
  max-width: 70%;
  margin-left: auto;
  margin-right: auto; }

.slide__content-list-item-figure-wrap {
  height: 58px;
  margin-bottom: 10px; }
  .slide__content-list-item-figure-wrap svg {
    max-height: 100%; }

.slide__content-list-item {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 0 45px;
  border-right: 1px solid #d8d8d8; }
  .slide__content-list-item:last-child {
    border-right: none; }

.slide__icon-white {
  margin-bottom: 20px;
  fill: #fff;
  font-size: 60px; }
  .slide__icon-white > g > g {
    Stroke: #fff; }

.intro-section__wraper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 100px; }

.intro-section__img {
  width: 100%; }

.quality-section {
  margin-top: 100px; }
  .quality-section__wraper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 100px; }
  .quality-section__box-img-content {
    margin-bottom: 20px; }
    .quality-section__box-img-content:last-child {
      margin-bottom: 0px; }
  .quality-section__img-content {
    margin-left: 262px; }

.recycling-section__add {
  padding-top: 265px;
  padding-bottom: 280px;
  width: 100%;
  margin: 0 auto;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center; }

.recycling-section__add-list {
  display: flex;
  justify-content: center;
  align-items: baseline; }

.recycling-section__add-list-item {
  margin: 0 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }

.recycling-section__add-icon {
  margin-bottom: 20px;
  fill: #fff;
  font-size: 60px; }
  .recycling-section__add-icon > g > g {
    Stroke: #fff; }

.recycling-section__add-text {
  padding-top: 10px; }

.recycling-section--reciclyng-process {
  margin: 80px auto;
  position: relative; }
  .recycling-section--reciclyng-process__list {
    display: flex;
    justify-content: space-between;
    align-items: baseline; }
  .recycling-section--reciclyng-process__list-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 70px; }
  .recycling-section--reciclyng-process__list-item:last-child figure::after {
    display: none; }
  .recycling-section--reciclyng-process__list-text {
    text-align: center; }
  .recycling-section--reciclyng-process__figure {
    display: flex;
    align-items: center;
    position: relative; }
    .recycling-section--reciclyng-process__figure::after {
      content: '';
      position: absolute;
      border-bottom: 1px solid #d8d8d8;
      width: 210px;
      left: 100px; }
      .recycling-section--reciclyng-process__figure::after:last-child {
        display: none;
        border: none; }

.supplier-banner-section {
  background-color: rgba(193, 196, 208, 0.19); }
  .supplier-banner-section__content {
    padding: 125px 175px 150px 175px; }

.craftmanship-process {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0;
  margin: 100px 0; }
  .craftmanship-process__list-item {
    position: relative;
    padding-bottom: 20px; }
    .craftmanship-process__list-item:last-child .craftmanship-process__image::after {
      display: none; }
    .craftmanship-process__list-item:first-child .craftmanship-process__image::after,
    .craftmanship-process__list-item:first-child .craftmanship-process__image::before {
      left: 7px; }
  .craftmanship-process__image {
    height: 42px;
    display: flex;
    align-items: center;
    margin: 0;
    position: relative;
    padding-bottom: 35px; }
    .craftmanship-process__image::after {
      content: '';
      position: absolute;
      border-bottom: 1px solid #252e43;
      height: 2px;
      width: 102%;
      bottom: 0;
      left: 12px; }
    .craftmanship-process__image::before {
      content: ' ';
      background-color: #252e43;
      height: 10px;
      width: 10px;
      position: absolute;
      border-radius: 50%;
      bottom: -4px;
      left: 12px; }
  .craftmanship-process__box-content {
    width: 80%; }
  .craftmanship-process__text {
    display: block;
    margin-top: 45px; }
  .craftmanship-process__second-text {
    margin-top: 90px; }
  .craftmanship-process__img-text {
    padding-top: 145px; }
  .craftmanship-process__map-img {
    width: 75%;
    margin: 80px auto;
    display: block; }

.background-section {
  margin-top: 130px;
  position: relative;
  height: 700px;
  background-size: cover;
  background-position: center;
  margin-bottom: 100px; }

.wages-section__img {
  width: 150px;
  margin: 0 auto;
  display: block; }

.retail-section {
  background: rgba(193, 196, 208, 0.19);
  padding-top: 92px; }
  .retail-section__process-wrap {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 0; }
  .retail-section__list-item {
    padding-bottom: 103px; }
    .retail-section__list-item:last-child .retail-section__process-image::after {
      display: none; }
    .retail-section__list-item:last-child .retail-section__process-image::before {
      left: 2px; }
    .retail-section__list-item:last-child .retail-section__box-content {
      left: -40%; }
  .retail-section__title {
    margin-bottom: 30px; }
  .retail-section__process-image {
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    position: relative;
    padding-bottom: 25px; }
    .retail-section__process-image::after {
      content: '';
      position: absolute;
      border-bottom: 1px solid #252e43;
      height: 2px;
      width: 100%;
      bottom: 0;
      left: 1px; }
    .retail-section__process-image::before {
      content: ' ';
      background-color: #252e43;
      height: 10px;
      width: 10px;
      position: absolute;
      border-radius: 50%;
      bottom: -4px;
      left: -10px; }
  .retail-section__text {
    margin-top: 10px; }
  .retail-section__box-content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 0 30px; }

.use-section__img-content {
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }

.use-section__text {
  margin-top: 23px; }

.green-section__img {
  height: 100%;
  padding-top: 64px; }

.drawdown-section__img {
  height: 399px;
  padding-top: 35px; }

.drawdown-desc-section {
  margin-bottom: 100px; }
  .drawdown-desc-section__text {
    width: 80%; }

.join-section {
  margin-top: 160px;
  background-size: cover;
  padding: 70px 0px 105px 0px; }
  .join-section__box {
    display: flex;
    align-items: flex-start; }
  .join-section__figure-item {
    justify-content: start;
    margin-right: 30px; }
  .join-section__login-input {
    display: flex;
    height: 40px;
    margin-bottom: 30px;
    margin-top: 20px;
    justify-content: center; }
  .join-section__input {
    outline: none;
    height: 100%; }
  .join-section__button {
    border: 1px solid white;
    height: 100%;
    font-size: 20px;
    background: transparent;
    width: 70px;
    transition: 0.4s;
    cursor: pointer;
    outline: none; }
    .join-section__button:hover {
      background: #c71585;
      border-color: #c71585;
      transition: all 0.4s ease; }
  .join-section__arrow {
    color: white; }
  .join-section__checkbox-container {
    display: inline-block;
    padding-left: 30px;
    position: relative;
    cursor: pointer;
    user-select: none;
    margin-right: 50px;
    padding-bottom: 10px; }
    .join-section__checkbox-container:hover .join-section__checkbox-container__checkmark {
      background-color: #ccc; }
  .join-section__input-checkbox {
    display: none; }
  .join-section__input-checkbox:checked + .join-section__checkmark {
    background-color: blue; }
    .join-section__input-checkbox:checked + .join-section__checkmark::after {
      content: "";
      position: absolute;
      height: 4px;
      width: 9px;
      border-left: 2px solid white;
      border-bottom: 2px solid white;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) rotate(-45deg); }
  .join-section__checkmark {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: #eee;
    position: absolute;
    left: 0;
    top: 2px;
    border-radius: 1px;
    margin-right: 30px; }
  .join-section__checkbox-container-circle {
    display: inline-block;
    padding-left: 30px;
    position: relative;
    cursor: pointer;
    user-select: none;
    margin-right: 20px; }
    .join-section__checkbox-container-circle:hover .join-section__checkbox-container-circle__checkmark-circle {
      background-color: #ccc; }
  .join-section__input-checkbox-circle {
    display: none; }
  .join-section__input-checkbox-circle:checked + .join-section__checkmark-circle {
    background-color: blue; }
    .join-section__input-checkbox-circle:checked + .join-section__checkmark-circle::after {
      content: "";
      position: absolute;
      height: 4px;
      width: 9px;
      border-left: 2px solid white;
      border-bottom: 2px solid white;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) rotate(-45deg); }
  .join-section__checkmark-circle {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: #eee;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 20px; }
  .join-section__link {
    text-decoration: underline;
    transition: 0.4s;
    cursor: pointer; }

.footer {
  padding-bottom: 90px; }
  .footer__first-content {
    display: flex;
    flex-wrap: wrap; }
  .footer__first-content-lists {
    margin-right: 170px; }
  .footer__list-item {
    margin-bottom: 15px; }
    .footer__list-item:last-child {
      margin-bottom: 0px; }
  .footer__list-link {
    cursor: pointer;
    transition: 1s; }
  .footer__second-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end; }
  .footer__img-content {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .footer__img-logos {
    justify-content: space-between;
    display: flex; }
  .footer__logo-link {
    cursor: pointer;
    transition: 2s; }
  .footer__img-logo {
    margin-right: 20px; }
  .footer__img-content {
    cursor: pointer;
    transition: 2s; }
  .footer__span-link {
    cursor: pointer;
    transition: 1s; }

@media (min-width: 1200px) and (max-width: 1500px) {
  .container {
    max-width: 1200px;
    width: 100%;
    margin-left: auto;
    margin-right: auto; } }

@media (min-width: 992px) and (max-width: 1200px) {
  .container {
    max-width: 992px;
    width: 100%;
    margin-left: auto;
    margin-right: auto; }
  .recycling-section--reciclyng-process__list-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 40px; }
    .recycling-section--reciclyng-process__list-item:first-child {
      padding-left: 0px; }
    .recycling-section--reciclyng-process__list-item:last-child {
      padding-right: 0px; }
  .recycling-section--reciclyng-process__figure {
    display: flex;
    align-items: center;
    position: relative; }
    .recycling-section--reciclyng-process__figure::after {
      content: '';
      position: absolute;
      border-bottom: 1px solid #d8d8d8;
      width: 170px;
      left: 85px; }
  .join-section__box-text {
    padding: 0px; } }

@media (min-width: 768px) and (max-width: 992px) {
  .container {
    max-width: 768px;
    width: 100%;
    margin-left: auto;
    margin-right: auto; }
  .header__box-content {
    justify-content: center; }
  .header__items {
    display: none; }
  .header__actions-list:last-child {
    display: none; }
  .slide__content-list {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto; }
  .intro-section__wraper {
    display: flex;
    justify-content: center;
    flex-direction: column; }
  .quality-section__wraper {
    display: flex;
    justify-content: center;
    flex-direction: column; }
  .quality-section__img {
    margin-bottom: 10px; }
  .quality-section__box-img {
    margin: 0 auto; }
  .quality-section__box {
    margin-top: 30px; }
  .recycling-section__content {
    display: flex;
    justify-content: center;
    flex-direction: column; }
  .recycling-section__box {
    margin-top: 10px; }
  .recycling-section--reciclyng-process__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr); }
  .recycling-section--reciclyng-process__list-item {
    margin-top: 20px;
    padding: 0 90px; }
  .recycling-section--reciclyng-process__figure:after {
    display: none; }
  .recycling-section--reciclyng-process__content {
    display: flex;
    flex-direction: column; }
  .recycling-section--reciclyng-process__content-text {
    margin-top: 30px; }
  .recycling-section--reciclyng-process__box-img {
    margin: 0 auto; }
  .recycling-section--reciclyng-process__img {
    justify-content: center; }
  .preorder-section__wraper {
    display: flex;
    flex-direction: column; }
  .preorder-section__box {
    margin-bottom: 50px; }
  .preorder-section__box-img {
    margin: 0 auto; }
  .use-section__box {
    display: flex;
    flex-direction: column; }
  .use-section__img-content {
    margin-top: 10px; }
  .use-section__img {
    height: 300px; }
  .join-section__box-text {
    padding: 0px; }
  .footer__first-content-lists {
    margin-right: 130px; } }

@media (min-width: 375px) and (max-width: 768px) {
  .container {
    max-width: 375px;
    width: 100%;
    margin-left: auto;
    margin-right: auto; }
  .header {
    height: 100%; }
    .header__box-content {
      justify-content: center; }
    .header__items {
      display: none; }
    .header__actions-list {
      display: none; }
    .header__slide-box {
      display: none; }
  .slide__content {
    margin-top: 50px; }
  .slide__content-wrap {
    justify-content: flex-end; }
  .slide__content-list {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto; }
  .slide__content-list-item {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 60px;
    border-right: none; }
  .slide__icon-black {
    margin-bottom: 20px;
    fill: black;
    font-size: 60px; }
    .slide__icon-black > g > g {
      Stroke: black; }
  .intro-section br {
    display: none; }
  .intro-section__wraper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 30px; }
  .intro-section__img {
    margin-top: 50px; }
  .intro-section__title {
    margin-bottom: 20px; }
  .intro-section__second-paragraph {
    display: none; }
  .intro-section__graphic-img {
    margin-bottom: 60px; }
  .background-section {
    width: 441px;
    height: 220px;
    margin: 0 auto; }
  .quality-section {
    margin-top: 50px; }
    .quality-section__wraper {
      display: flex;
      flex-direction: column;
      margin-top: 20px; }
    .quality-section__img {
      margin-bottom: 10px; }
    .quality-section__box-img-content {
      margin-top: 0px; }
    .quality-section__title {
      margin-top: 50px; }
  .recycling-section {
    margin-top: 50px; }
    .recycling-section__add {
      height: 100%;
      padding: 75px 40px 55px 40px; }
    .recycling-section__svg-logo {
      height: 47px;
      width: 46px; }
    .recycling-section__add-list-item {
      margin: 10px 20px; }
    .recycling-section__content {
      display: flex;
      flex-direction: column; }
    .recycling-section__box-text {
      margin-top: 40px;
      margin-bottom: 0px; }
  .recycling-section--reciclyng-process {
    margin-top: 75px; }
    .recycling-section--reciclyng-process__list {
      display: grid; }
    .recycling-section--reciclyng-process__list-item {
      margin-top: 30px;
      padding: 0 90px; }
      .recycling-section--reciclyng-process__list-item:first-child {
        margin-top: 0px; }
    .recycling-section--reciclyng-process__figure::after {
      display: none; }
    .recycling-section--reciclyng-process__content {
      display: flex;
      flex-direction: column;
      margin-top: 50px; }
    .recycling-section--reciclyng-process__content-text {
      margin-top: 40px; }
  .supplier-banner-section__content {
    padding: 45px 25px; }
  .craftmanship-section {
    margin-top: 50px; }
    .craftmanship-section__box-text {
      display: flex;
      flex-direction: column; }
  .craftmanship-process {
    margin-top: 35px;
    display: flex;
    flex-direction: column; }
    .craftmanship-process__image {
      padding-bottom: 0px; }
      .craftmanship-process__image:before {
        display: none; }
      .craftmanship-process__image:after {
        display: none; }
    .craftmanship-process__list-item {
      padding-bottom: 0px;
      margin-top: 35px; }
    .craftmanship-process__box-content {
      width: 100%; }
    .craftmanship-process__text {
      margin-top: 25px; }
    .craftmanship-process__paragraph {
      margin-top: 25px; }
    .craftmanship-process__content {
      margin-top: -50px;
      display: flex;
      flex-direction: column; }
    .craftmanship-process__second-text {
      margin-top: 20px; }
    .craftmanship-process__img-text {
      padding-top: 0px;
      margin-top: 50px; }
  .background-section {
    margin-top: 30px; }
  .wages-section {
    margin-top: 50px; }
    .wages-section__box {
      display: flex;
      flex-direction: column; }
    .wages-section__title {
      margin-top: 60px; } }
