@import url(../css/bootstrap-4-utilities.min.css);
@import url(../assets/fonts/fonts.css);
figure {
  margin: 0;
  padding: 0; }

.twothirds__double-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 100px; }

.twothirds__double-grid--sm {
  display: grid;
  grid-template-columns: repeat(2, 40% 60%);
  grid-gap: 100px; }

.twothirds__triple-grid {
  display: grid;
  grid-template-columns: repeat(3, 20% 60% 20%);
  grid-gap: 50px; }

.m-t-lg {
  margin-top: 100px; }

.m-t-md {
  margin-top: 50px; }

.m-t-sm {
  margin-top: 30px; }

.m-b-lg {
  margin-bottom: 100px; }

.m-b-md {
  margin-bottom: 50px; }

.m-b-sm {
  margin-bottom: 30px; }

.full-width {
  width: 100%; }

.text-uppercase {
  text-transform: uppercase; }

.text-center {
  text-align: center; }

body {
  font-family: 'Futura LT Com';
  line-height: 100%; }

.twothirds__h1 {
  font-size: 50px;
  font-weight: 500;
  color: #252E43;
  line-height: 150%;
  letter-spacing: 1px;
  margin-bottom: 0; }

.twothirds__h1--white {
  font-size: 90px;
  font-weight: 500;
  color: white;
  line-height: 150%;
  letter-spacing: 1px;
  margin-bottom: 0; }

.twothirds__h2 {
  font-size: 16px;
  font-weight: 400;
  color: #252E43;
  line-height: 150%;
  letter-spacing: 1px;
  margin-bottom: 0; }

.twothirds__h4 {
  font-size: 14px;
  font-weight: 400;
  color: #252E43;
  line-height: 150%;
  letter-spacing: 1px;
  margin-bottom: 0; }

.twothirds__h4-footer {
  font-size: 16px;
  font-weight: 400;
  color: #252e43;
  line-height: 150%;
  letter-spacing: 0px;
  margin-bottom: 0; }

.twothirds__h5 {
  font-size: 18px;
  font-weight: 400;
  color: #5B6872;
  line-height: 150%; }

.twothirds__h5-white {
  font-size: 18px;
  font-weight: 400;
  color: white;
  line-height: 150%; }

.twothirds__h3-chronicle-roman {
  font-family: 'ChronicleDisplay-Roman';
  font-size: 30px;
  font-weight: 400;
  color: #000000;
  line-height: 150%;
  letter-spacing: 0;
  line-height: 40px; }

.twothirds__h3-chronicle-roman--white {
  font-family: 'ChronicleDisplay-Roman';
  font-size: 30px;
  font-weight: 400;
  color: #ffffff;
  line-height: 150%; }

.twothirds__h3-chronicle-roman--white-sm {
  font-family: 'ChronicleDisplay-Roman';
  font-size: 21px;
  font-weight: 400;
  color: #ffffff;
  line-height: 150%; }

.twothirds__h4-chronicle-roman--white {
  font-family: 'ChronicleDisplay-Roman';
  font-size: 18px;
  font-weight: 400;
  color: #ffffff;
  line-height: 150%; }

.twothirds__paragraph {
  font-size: 18px;
  font-weight: 400;
  color: #5B6872;
  line-height: 150%;
  letter-spacing: 1px; }

.twothirds__span {
  font-size: 14px;
  font-weight: 400;
  color: #5B6872;
  line-height: 150%;
  letter-spacing: 1px;
  margin-bottom: 0; }

.twothirds__paragraph--white {
  font-size: 14px;
  font-weight: 400;
  color: white;
  line-height: 150%;
  letter-spacing: 1px;
  margin-bottom: 0; }

.container {
  max-width: 1280px;
  width: 100%;
  margin-left: auto;
  margin-right: auto; }

.header {
  position: relative;
  height: 955px;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  .header.slide {
    justify-content: space-between; }
  .header__box-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-top: 30px; }
  .header__img-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    cursor: pointer; }
  .header__items {
    display: flex;
    justify-content: space-between;
    cursor: pointer; }
  .header__link {
    margin-right: 45px; }
    .header__link:last-child {
      margin-right: 0; }
  .header__item {
    transition: color .2s ease-in; }
  .header__actions-list {
    display: flex; }
  .header__actions-icon {
    color: white;
    margin-right: 30px;
    cursor: pointer;
    transition: 0.4s; }
  .header__actions-item:last-child .header__actions-icon {
    margin-right: 0; }
  .header__slide-box {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%); }
  .header__slide-content {
    float: left; }
  .header__slide {
    padding-top: 20px; }
    .header__slide::after {
      content: '';
      position: absolute;
      cursor: pointer;
      border-bottom: 2px solid white;
      height: 2px;
      width: 16px; }
    .header__slide.active::after {
      width: 52px; }
  .header__box-eco-materials-content {
    display: flex;
    flex-direction: column;
    padding-bottom: 100px; }
  .header__box-eco-materials {
    display: flex;
    justify-content: center;
    padding: 0 300px; }
  .header__box-eco-material {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 40px;
    justify-content: space-between; }
  .header__icon-white {
    fill: #fff;
    font-size: 60px;
    justify-content: center; }
    .header__icon-white > g > g {
      Stroke: #fff; }
  .header__box-img {
    justify-content: center; }
  .header__box-line::after {
    content: '';
    position: absolute;
    border-left: 1px solid #d8d8d8;
    height: 120px;
    width: 1px; }

.slide {
  position: relative;
  height: 950px;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-end; }
  .slide__box {
    position: absolute;
    left: 0; }
  .slide__item-active {
    display: flex;
    position: absolute;
    transition: width 0.3s; }
    .slide__item-active::after {
      content: '';
      border-bottom: 2px solid white;
      height: 2px;
      width: 52px;
      cursor: pointer;
      position: absolute; }
  .slide__content-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0;
    max-width: 70%;
    margin-left: auto;
    margin-right: auto; }
  .slide__content-list-item-figure-wrap {
    height: 58px;
    margin-bottom: 10px; }
    .slide__content-list-item-figure-wrap svg {
      max-height: 100%; }
  .slide__content-list-item {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 60px;
    border-right: 1px solid #d8d8d8; }
    .slide__content-list-item:last-child {
      border-right: none; }
  .slide__icon-white {
    margin-bottom: 20px;
    fill: #fff;
    font-size: 60px; }
    .slide__icon-white > g > g {
      Stroke: #fff; }

.intro-section__wraper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 100px; }

.intro-section__img {
  width: 100%; }

.quality-section {
  margin-top: 100px; }
  .quality-section__wraper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 100px; }

.recycling-section__add {
  width: 100%;
  height: 670px;
  margin: 0 auto;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center; }

.recycling-section__add-list {
  display: flex;
  justify-content: center;
  align-items: baseline; }

.recycling-section__add-list-item {
  margin: 0 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }

.recycling-section__add-icon {
  margin-bottom: 20px;
  fill: #fff;
  font-size: 60px; }
  .recycling-section__add-icon > g > g {
    Stroke: #fff; }

.recycling-section--reciclyng-process {
  margin: 80px auto;
  position: relative; }
  .recycling-section--reciclyng-process__list {
    display: flex;
    justify-content: space-between;
    align-items: baseline; }
  .recycling-section--reciclyng-process__list-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 70px; }
  .recycling-section--reciclyng-process__list-text {
    text-align: center; }
  .recycling-section--reciclyng-process__figure {
    display: flex;
    align-items: center;
    position: relative; }
    .recycling-section--reciclyng-process__figure::after {
      content: '';
      position: absolute;
      border-bottom: 1px solid #d8d8d8;
      width: 220px;
      left: 80px; }

.supplier-banner-section {
  background-color: #c1c4d0; }
  .supplier-banner-section__content {
    padding: 90px 130px; }

.craftmanship-process {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0;
  margin: 100px 0; }
  .craftmanship-process__list-item {
    position: relative;
    padding-bottom: 20px; }
    .craftmanship-process__list-item:last-child .craftmanship-process__image::after {
      display: none; }
    .craftmanship-process__list-item:first-child .craftmanship-process__image::after,
    .craftmanship-process__list-item:first-child .craftmanship-process__image::before {
      left: 7px; }
  .craftmanship-process__image {
    height: 42px;
    display: flex;
    align-items: center;
    margin: 0;
    position: relative;
    padding-bottom: 35px; }
    .craftmanship-process__image::after {
      content: '';
      position: absolute;
      border-bottom: 1px solid #252e43;
      height: 2px;
      width: 102%;
      bottom: 0;
      left: 12px; }
    .craftmanship-process__image::before {
      content: ' ';
      background-color: #252e43;
      height: 10px;
      width: 10px;
      position: absolute;
      border-radius: 50%;
      bottom: -4px;
      left: 12px; }
  .craftmanship-process__box-content {
    width: 80%; }
  .craftmanship-process__text {
    display: block;
    margin-top: 45px; }
  .craftmanship-process__map-img {
    width: 75%;
    margin: 80px auto;
    display: block; }

.background-section {
  position: relative;
  height: 900px;
  background-size: cover;
  background-position: center; }

.wages-section__img {
  width: 150px;
  margin: 0 auto;
  display: block; }

.retail-section {
  background: rgba(193, 196, 208, 0.19);
  padding-top: 92px; }
  .retail-section__process-wrap {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 0; }
  .retail-section__list-item {
    padding-bottom: 103px; }
  .retail-section__title {
    margin-bottom: 30px; }
  .retail-section__process-image {
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    position: relative;
    padding-bottom: 20px; }
    .retail-section__process-image::after {
      content: '';
      position: absolute;
      border-bottom: 1px solid #252e43;
      height: 2px;
      width: 100%;
      bottom: 0;
      left: 1px; }
    .retail-section__process-image::before {
      content: ' ';
      background-color: #252e43;
      height: 10px;
      width: 10px;
      position: absolute;
      border-radius: 50%;
      bottom: -4px;
      left: -10px; }
  .retail-section__box-content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative; }
  .retail-section__text {
    max-width: 150px; }

.use-section__img-content {
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  .use-section__img-content img > g > g {
    Stroke: #fff; }

.green-section__img {
  height: 100%;
  padding-top: 64px; }

.drawdown-section__img {
  height: 399px;
  padding-top: 35px; }

.drawdown-desc-section {
  margin-bottom: 100px; }

.join-section {
  width: 100%;
  margin: 0 auto;
  background-size: cover;
  padding: 80px 0px 100px 0px; }
  .join-section__box {
    display: flex;
    align-items: flex-start; }
  .join-section__figure-item {
    justify-content: start;
    margin-right: 30px; }
  .join-section__box-text {
    padding: 0 150px 0 0px; }
  .join-section__login-input {
    display: flex;
    height: 40px;
    margin-bottom: 30px;
    justify-content: center; }
  .join-section__input {
    outline: none;
    height: 100%; }
  .join-section__button {
    border: 1px solid white;
    height: 100%;
    font-size: 20px;
    background: transparent;
    width: 70px;
    transition: 0.4s;
    cursor: pointer;
    outline: none; }
    .join-section__button:hover {
      background: #c71585;
      border-color: #c71585;
      transition: all 0.4s ease; }
  .join-section__arrow {
    color: white; }
  .join-section__checkbox-container {
    display: inline-block;
    padding-left: 30px;
    position: relative;
    cursor: pointer;
    user-select: none;
    margin-right: 50px;
    padding-bottom: 10px; }
    .join-section__checkbox-container:hover .join-section__checkbox-container__checkmark {
      background-color: #ccc; }
  .join-section__input-checkbox {
    display: none; }
  .join-section__input-checkbox:checked + .join-section__checkmark {
    background-color: blue; }
    .join-section__input-checkbox:checked + .join-section__checkmark::after {
      content: "";
      position: absolute;
      height: 4px;
      width: 9px;
      border-left: 2px solid white;
      border-bottom: 2px solid white;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) rotate(-45deg); }
  .join-section__checkmark {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: #eee;
    position: absolute;
    left: 0;
    top: 2px;
    border-radius: 1px;
    margin-right: 30px; }
  .join-section__checkbox-container-circle {
    display: inline-block;
    padding-left: 30px;
    position: relative;
    cursor: pointer;
    user-select: none;
    margin-right: 20px; }
    .join-section__checkbox-container-circle:hover .join-section__checkbox-container-circle__checkmark-circle {
      background-color: #ccc; }
  .join-section__input-checkbox-circle {
    display: none; }
  .join-section__input-checkbox-circle:checked + .join-section__checkmark-circle {
    background-color: blue; }
    .join-section__input-checkbox-circle:checked + .join-section__checkmark-circle::after {
      content: "";
      position: absolute;
      height: 4px;
      width: 9px;
      border-left: 2px solid white;
      border-bottom: 2px solid white;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) rotate(-45deg); }
  .join-section__checkmark-circle {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: #eee;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 20px; }
  .join-section__link {
    text-decoration: underline;
    transition: 0.4s;
    cursor: pointer; }

.footer {
  padding-bottom: 90px; }
  .footer__first-content {
    display: flex;
    flex-wrap: wrap; }
  .footer__first-content-lists {
    margin-right: 170px; }
  .footer__list-item {
    margin-bottom: 15px; }
    .footer__list-item:last-child {
      margin-bottom: 0px; }
  .footer__list-link {
    cursor: pointer;
    transition: 1s; }
  .footer__second-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end; }
  .footer__img-content {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .footer__img-logos {
    justify-content: space-between;
    display: flex; }
  .footer__logo-link {
    cursor: pointer;
    transition: 2s; }
  .footer__img-logo {
    margin-right: 20px; }
  .footer__img-content {
    cursor: pointer;
    transition: 2s; }
  .footer__span-link {
    cursor: pointer;
    transition: 1s; }
