$twothirds: twothirds;
$main-section--gap: 100px;
$half-section--gap: 50px;

.#{$twothirds} {
    &__double-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: $main-section--gap;
    }
    &__double-grid--sm{
        display: grid;
        grid-template-columns: repeat(2, 40% 60%);
        grid-gap:  $main-section--gap;
    }    
}

.main--margin-top {
    margin-top: $main-section--gap;
}

.half-section--gap {
    margin-top: $half-section--gap;
}

.full-width {
    width: 100%;
}