
@mixin typography($font-size, $font-weight, $color) {
    font-size: $font-size;
    font-weight: $font-weight;
    color: $color;
    line-height: 150%;
}

@mixin wavy-separator($file) {
    display: block;
    margin: 10px auto 28px;
    content: '';
    background: url($file);
    background-size: 54px 6px;
    height: 6px;
    width: 54px;
  }