$twothirds: twothirds;
$default-letter-spacing: 1px;

body {
    font-family: 'Futura LT Com';
    line-height: 100%;
}

h1 {
    @include typography(50px, 500, #252E43);
    letter-spacing: $default-letter-spacing;
    margin-bottom: 0;
    line-height: 150%;
}

h2 {
    @include typography(16px, 400, #252E43);
    letter-spacing: $default-letter-spacing;
    margin-bottom: 0;
}

h4 {
    @include typography(14px, 400, #252E43);
    letter-spacing: $default-letter-spacing;
    margin-bottom: 0;
}

h5 {
    @include typography(18px, 400, #5B6872);
}

.#{$twothirds} {
    &__h1--white {
        @include typography(90px, 500, white);
        letter-spacing: $default-letter-spacing;
        margin-bottom: 0;
    }

    &__h4-footer {
        @include typography(16px, 400,#252e43);
        letter-spacing: 0px;
        margin-bottom: 0;
    }
 
    &__h5-white {
        @include typography(18px, 400, white);
    }

    // Chronicle
    &__h3-chronicle-roman {
        font-family: 'ChronicleDisplay-Roman';
        @include typography(30px, 400, #000000);
        letter-spacing: 0;
        line-height: 40px;
    }


    &__h3-chronicle-roman--white {
        font-family: 'ChronicleDisplay-Roman';
        @include typography(30px, 400, #ffffff);
    }

    &__h3-chronicle-roman--white-sm {
        font-family: 'ChronicleDisplay-Roman';
        @include typography(21px, 400, #ffffff);
    }

    &__h4-chronicle-roman--white {
        font-family: 'ChronicleDisplay-Roman';
        @include typography(18px, 400, #ffffff);
        
    }

    &__paragraph {
        @include typography(18px, 400, #5B6872);
        letter-spacing: 1px;
    }

    &__span {
        @include typography(14px, 400, #5B6872);
        letter-spacing: 1px;
        margin-bottom: 0;
    }

    &__paragraph--white {
        @include typography(14px, 400,white);
        letter-spacing: 1px;
        margin-bottom: 0;
    }
}


@media (min-width: 992px) and (max-width: 1300px) {

    h1 {
        @include typography(30px, 500, #252E43);
        letter-spacing: $default-letter-spacing;
        margin-bottom: 20px;
    }
    .#{$twothirds}{
        &__paragraph {
            @include typography(16px, 400, #5B6872);
            letter-spacing: 1px;
        }
    }

}

@media (min-width: 320px) and (max-width: 812px) {

    h1 {
        @include typography(18px, 500, #252E43);
        letter-spacing: $default-letter-spacing;
    }

    .#{$twothirds} {

        &__paragraph {
            @include typography(14px, 400, #5B6872);
            letter-spacing: 1px;
            margin-bottom: 0px;
        }

        &__h1--white {
            @include typography(46px, 500, white);
            letter-spacing: $default-letter-spacing;
            margin-bottom: 0;
        }

        &__paragraph--white {
            @include typography(14px, 400,black);
            letter-spacing: 1px;
            margin-bottom: 0;
        }

        &__h3-chronicle-roman {
            font-family: 'ChronicleDisplay-Roman';
            @include typography(20px, 400, #000000);
            letter-spacing: 0;
            line-height: 25px;
            margin-bottom:  0px;
        }

        &__h3-chronicle-roman--white {
            font-family: 'ChronicleDisplay-Roman';
            @include typography(15px, 400, #ffffff);
        }
    }
}
