$twothirds: twothirds;

body {
    font-family: 'Futura LT Com';
}

.#{$twothirds} {
    &__h1 {
        @include typography(50px, 500, #252E43);
        letter-spacing: 1px;
        margin-bottom: 0;
    }

    &__h4 {
        @include typography(14px, 400, #252E43);
        letter-spacing: 1px;
        margin-bottom: 0;
    }
    
    &__h5 {
        @include typography(18px, 400, #5B6872);
        letter-spacing: 0.5px;
    }

    // Chronicle
    &__h3-chronicle-roman {
        font-family: 'ChronicleDisplay-Roman';
        @include typography(30px, 400, #000000);
        letter-spacing: 0;
        line-height: 40px;
    }

    &__h3-chronicle-roman--white {
        font-family: 'ChronicleDisplay-Roman';
        @include typography(30px, 400, #ffffff);
        letter-spacing: 0;
        line-height: 40px;
    }

    &__paragraph {
        @include typography(18px, 400, #5B6872);
        letter-spacing: 1px;
        margin-bottom: 0;
    }
}

